html {
	font-size: 14px;
}

body {
	font-family: $raleway;
}

a {
	color: #F44336;
	text-decoration: none;
	display: inline-block;
	&:after {
		transition: 0.3s ease;
	    width: 0;
	    height: 2px;
	    background: #F44336;
	    content: '';
	    display: block;
	}
	&:hover {
		&:after {
			width: 100%;
		}
	}
}

a:visited {

}

a:hover {

}

a:active {

}