%clearfix {
    *zoom: 1;
    &:before, 
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    @extend %clearfix;
    @include min($small-min) {
        max-width: $small-container;
    }
    @include min($medium-min) {
        max-width: $medium-container;
    }
    @include min($large-min) {
        max-width: $large-container;
    }
    @include min($largest-min) {
        max-width: $largest-container;
    }
    .row {
        margin-left: -1 * $gutter / 2;
        margin-right: -1 * $gutter / 2;
        @extend %clearfix;
        .col {
            float: left;
            padding-left: $gutter / 2;
            padding-right: $gutter / 2;
            width: 100%;
            min-height: 1px;
            @include min($small-min) {
                @for $i from 1 through $columns {
                    &.col-small-#{$i} {
                        width: 100% / $columns * $i;
                    }
                }
            }
            @include min($medium-min) {
                @for $i from 1 through $columns {
                    &.col-medium-#{$i} {
                        width: 100% / $columns * $i;
                    }
                }
            }            
            @include min($large-min) {
                @for $i from 1 through $columns {
                    &.col-large-#{$i} {
                        width: 100% / $columns * $i;
                    }
                }
            }            
            @include min($largest-min) {
                @for $i from 1 through $columns {
                    &.col-largest-#{$i} {
                        width: 100% / $columns * $i;
                    }
                }
            }
        }
    }
}
