//breakpoints

$small: 576px !default;
$medium: 768px !default;
$large: 992px !default;
$largest: 1280px !default;

$small-min: $small !default;
$medium-min: $medium !default;
$large-min: $large !default;
$largest-min: $largest !default;

$small-max: $medium-min - 1 !default;
$medium-max: $large-min - 1 !default;
$large-max: $largest-min - 1 !default;

//grid

$gutter: 30px !default;
$columns: 12;

$small-container: 540px !default;
$medium-container: 720px !default;
$large-container: 960px !default;
$largest-container: 1140px !default;