<header class="header">
	<div class="menu-button">
		<span class="menu-button__line menu-button__line--line-1"></span>
		<span class="menu-button__line menu-button__line--line-2"></span>
		<span class="menu-button__line menu-button__line--line-3"></span>
	</div>
</header>
<div class="navigation">
	<div class="navigation__inner">
		<ul>
			<li>
				<a href="#">Strona główna</a>
			</li>		
			<li>
				<a href="#">O mnie</a>
			</li>		
			<li>
				<a href="#">Portfolio</a>
			</li>		
			<li>
				<a href="#">Kontakt</a>
			</li>
		</ul>
	</div>
	<div class="navigation__title">
		<span>Jakub<br />Bulanda</span>
	</div>
</div>