<header class="header">
	<div class="logo">
		<a href="#main" class="scroll-to-page no-timeout">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.788921 36.067999" height="136.32" width="241.092"><g style="line-height:6.61458302px;"><path d="M26.111 23.825V0H3.353v8.433h12.09V23.57c0 2.388-1.219 3.607-3.15 3.607-1.93 0-4.775-1.27-7.467-4.013L0 30.125c3.404 3.759 7.722 5.943 13.157 5.943 7.925 0 12.954-4.47 12.954-12.243zM49.006 0H31.531v35.61h18.237c8.535 0 14.02-3.86 14.02-9.956 0-4.521-2.793-8.077-7.162-8.992 3.709-1.066 6.045-4.064 6.045-7.67C62.671 3.505 57.337 0 49.006 0zm-.559 13.97h-6.4V7.925h6.4c2.083 0 3.404 1.117 3.404 2.946 0 1.88-1.32 3.099-3.404 3.099zm0 13.716h-6.4v-6.452h6.4c2.693-.05 4.42 1.169 4.42 3.1 0 2.082-1.727 3.403-4.42 3.352z" stroke-width=".265"/></g></svg>
		</a>
	</div>
	<button class="menu-button">
		<span class="menu-button__line menu-button__line--line-1"></span>
		<span class="menu-button__line menu-button__line--line-2"></span>
		<span class="menu-button__line menu-button__line--line-3"></span>
	</button>
</header>
<div class="navigation">
	<div class="navigation__inner">
		<ul>
			<li>
				<a href="#main" class="scroll-to-page">Strona główna</a>
			</li>		
			<li>
				<a href="#about" class="scroll-to-page">O mnie</a>
			</li>			
			<li>
				<a href="#offer" class="scroll-to-page">Oferta</a>
			</li>		
			<li>
				<a href="#portfolio" class="scroll-to-page">Portfolio</a>
			</li>		
			<li>
				<a href="#contact" class="scroll-to-page">Kontakt</a>
			</li>
		</ul>
	</div>
	<div class="navigation__title">
		<span>Jakub<br />Bulanda</span>
	</div>
</div>