{% extends "../layouts/default.twig" %}

{% block pageTitle %}Jakub Bulanda Webdeveloper{% endblock pageTitle %}
{% block pageClass %} class="homepage"{% endblock pageClass %}


{% block content %}

<!--<div class="container">
	<div class="row">
		<div class="col col-small-6">a</div>
		<div class="col col-small-6">b</div>
	</div>	
	<div class="row">
		<div class="col col-medium-6">a</div>
		<div class="col col-medium-6">b</div>
	</div>	
	<div class="row">
		<div class="col col-large-6">a</div>
		<div class="col col-large-6">b</div>
	</div>	
	<div class="row">
		<div class="col col-largest-1">a</div>
		<div class="col col-largest-2">b</div>
		<div class="col col-largest-3">b</div>
		<div class="col col-largest-4">b</div>
		<div class="col col-largest-2">b</div>
	</div>
</div>-->

{% endblock content %}