{% extends "../layouts/default.twig" %}

{% block pageTitle %}Homepage{% endblock pageTitle %}
{% block pageClass %} class="homepage"{% endblock pageClass %}


{% block content %}

<div class="container">
	<div class="row">
		<section class="col-sm-12">
	        <h2 class="page-header">Homepage</h2>
	        <div class="alert alert-danger" role="alert">Large Desktop</div>   	        
	        <div class="alert alert-success" role="alert">Desktop</div>                      
	        <div class="alert alert-info" role="alert">Tablet</div>                      
	        <div class="alert alert-warning" role="alert">Mobile</div>                                         
	    </section>
	</div>
</div>

{% endblock content %}