{% extends "../layouts/default.twig" %}

{% block pageTitle %}Subpage{% endblock pageTitle %}
{% block pageClass %} class="subpage"{% endblock pageClass %}


{% block content %}

<div class="container">

</div>

{% endblock content %}