.portfolio {
    @include max($medium-max) {
        padding-bottom: 0;
        margin-bottom: -20px;
    }
    overflow: hidden;
    z-index: 10;
    .items {
        @include min($medium-min) {
            padding-top: 50px;
        }
        @include min($large-min) {
            padding-top: 100px;
        }
        &__item {
            position: relative;
            img {
                transform: scale(0.95);
                transition: all 0.7s;
                max-height: 770px;
            }
            .item__desc {
                color: #555;
                opacity: 0.5;
                transition: all 0.7s;
                text-transform: uppercase;
                position: relative;
                z-index: 10;
                transform: translateY(-10px);
                @include min($medium-min) {
                    white-space: nowrap;
                    opacity: 0;
                }
                h4 {
                    font-size: 2rem;
                    margin-bottom: 10px;
                    @include min($large-min) {
                        font-size: 3rem;
                    }
                }
                h5 {
                    font-size: 1rem;
                    margin: 0 0 15px;
                    font-weight: normal;
                    @include min($large-min) {
                       font-size: 1.5rem; 
                    }
                }
                a {
                    font-size: 1rem;
                    text-transform: lowercase;
                    color: #F44336;
                    display: inline-block;
                    &:after {
                        margin-top: 2px;
                    }
                }
            }
            &:hover {
                img {
                    transform: scale(1);
                }
                .item__desc {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            &--mobile {
                float: left;
                width: 100%;
                padding: 10px;
                margin-bottom: 150px;
                @include max($small-max) {
                    text-align: center;
                }
                @include min($medium-min) {
                   width: 50%; 
                }
                img {
                    @include min($medium-min) {
                        max-width: 70%;
                    }
                }
                .item__desc {
                    position: absolute;
                    @include max($medium-max) {
                        width: 100%;
                        left: 0;
                    }
                    @include min($medium-min) {
                        top: 20px;
                        left: 75%;
                        transform: translateX(-50px);
                    }
                }
                &-right {
                    text-align: center;
                    @include min($medium-min) {
                        text-align: right;
                    }
                    .item__desc {
                        @include min($medium-min) {
                            left: auto;
                            right: 75%;
                        }
                    }
                }
                &-top {
                    @include min($medium-min) {
                        margin-top: 200px;
                    }
                }
                &-left-small {
                    .item__desc {
                        left: 57%;
                    }                    
                }  
                &-bottom {
                    @include min($medium-min) {
                        margin-bottom: 0;
                    }
                }              
            }
            &--desktop {
                width: 100%;
                float: left;
                margin-bottom: 30px;
                @include max($small-max) {
                    text-align: center;
                    margin-top: 10px;
                }
                @include min($medium-min) {
                    margin-bottom: 100px;
                }
                .item__desc {
                    @include min($medium-min) {
                        transform: translateY(-50px);
                    }
                }    
                &-right {
                    .item__desc {
                        @include min($medium-min) {
                            margin-top: -50px;
                            margin-bottom: -100px;
                            text-align: right;
                        }
                    }
                }              
                &-bottom {                   
                    @include max($small-max) {
                        padding-bottom: 200px;
                    }
                    @include min($medium-min) {
                        margin-bottom: 200px;
                    }
                    .item__desc {
                        @include max($small-max) {
                            width: 100%;
                            position: absolute;
                            bottom: 20px;
                        }
                    }
                }          
            }
        }
    }
}
