.header {
    position: fixed;
    z-index: 50;
    width: 100%;
    min-height: 100px;
    .logo {
        margin-top: 50px;
        margin-left: 50px;
        svg {
            width: 70px;
            height: 40px;
            path {
                fill: #fff;
            }
        }
    }
    &.black {
        .logo {
            svg {
                path {
                    fill: #000;
                }
            }
        }
        .menu-button__line {
            background: #000;
        }
    }    
    &.header--navigation-active {

        .logo {
            svg {
                path {
                    transition: 0.3s fill;
                    fill: #fff;
                }
            }
        }
        .menu-button__line {
            transition: background 0.3s, opacity 0.3s, transform 0.3s;
            background: #fff;
        }
    }
}
