{% set url = 'http://jakubulanda.pl' %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="pl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="index, follow">
    <link rel="home" href="/">
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <link rel="canonical" href="{{ url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:title" content="{% block pageTitle %}{% endblock pageTitle %}">
    <meta property="og:og:description" content="Zajmuję się tworzniem stron, kodowaniem oraz grafiką. Specjalizuję się w takich cmsach jak Wordpress czy Drupal. Zapraszam do współpracy.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ url }}/img/preview.jpg">
    <meta name="twitter:url" content="{{ url }}">
    <meta name="twitter:title" content="{% block pageTitle %}{% endblock pageTitle %}">
    <title>{% block pageTitle %}{% endblock pageTitle %}</title>
    <meta name="description" content="Zajmuję się tworzniem stron, kodowaniem oraz grafiką. Specjalizuję się w takich cmsach jak Wordpress czy Drupal. Zapraszam do współpracy." />
    <meta name="keywords" content="Jakub Bulanda, portfolio, web developer, frontend, frontend developer, drupal, wordpress" />
    <link rel="stylesheet" href="css/style.min.css" />
    <script src="js/scripts.min.js"></script>
</head>
<body{% block pageClass %}{% endblock pageClass %}>
    {% include "partials/header.twig" %} 
    {% block content %}{% endblock %} 
    {% include "partials/footer.twig" %}
</body>

</html>